PORT=10000

MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/<database-name>?retryWrites=true&w=majority

MONGODB_DB=sa_dairy_farm

JWT_SECRET=replace_with_a_long_random_secret

ADMIN_USERNAME=admin

ADMIN_PASSWORD=replace_with_a_strong_admin_password